.chat-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255) !important;
    padding: 0.25rem 0.25rem !important;
    flex: 1 1 60% !important;
    justify-content: space-between !important;
    max-height: calc(100vh - 50px);
    max-width: 60% !important;
}

.chat-messages {
    overflow-y: scroll !important;
    display: flex;
    flex-direction: column;
    flex: 10;
}

.chat-messages::-webkit-scrollbar {
    width: 5px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 149, 255, 0.863);
    border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 149, 255);
}

.spin-anim {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 576px) {
    .chat-box {
        max-width: 80% !important;
        flex: 1 1 80% !important;
        min-width: 80% !important;
    }   
    
}