.language-box {
    position: absolute !important;
    right: 5px !important;
}

.nav-link:hover {
    color: #278cf7;
    transition: color 0.3s;
}

.language-box button:hover, .language-box button.active  {
    background-color: #278cf7;
}

.nav-link img.rounded-circle {
    border: 2px solid #278cf7;
}

.nav-link:hover img.rounded-circle {
    border-color: #1a6abf;
}

.nav-link-logout:hover {
    color: #f5365c;
    transition: color 0.3s;
}

/* style if body rtl */ 
[dir="rtl"] .language-box {
    position: absolute !important;
    left: 5px !important;
    right: unset !important;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .language-box {
        position: relative !important;
        right: 0 !important;
        left: unset !important;
    }
    [dir="rtl"] .language-box {
        position: relative !important;
        right: 0 !important;
        left: unset !important;
    }
    
}